@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;

}

/* Heading & display text styles */
header {
    margin-top: 4rem;
}

h3 {
    margin: 1rem auto;
}

/* Shape styles */
main {
    width: 100vw;
    margin: 2rem auto;
    height: 30rem;
    position: relative;
}

.shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    background-color: lightseagreen;
    transition: width 1s ease, height 1s ease, background-color .4s ease;
    border-radius: 9999px;
}

.small {
    width: 6rem;
    height: 6rem;

}

.large {
    width: 15rem;
    height: 15rem;
}